.timer {
  font-size: 70px;
  font-weight: bold;
}

.timer-grey {
  color: grey;
}

.timer-green {
  color: green;
}

.timer-orange {
  color: orange;
}

.timer-red {
  color: red;
}

.scramble-label {
  font-size: 16px;
}

.prev-scramble-label {
  opacity: 0.9
}

.prev-2-scramble-label {
  opacity: 0.6
}

.prev-3-scramble-label {
  opacity: 0.2
}
