.timer {
  font-size: 70px;
  font-weight: bold;
  height: 500px;
}

.timer-grey {
  color: grey;
}

.timer-green {
  color: green;
}

.timer-orange {
  color: orange;
}

.timer-red {
  color: red;
}

.scramble-label {
  color: black;
  font-size: 16px;
}

.prev-scramble-label {
  color: black;
}

.prev-2-scramble-label {
  color: grey;
}

.prev-3-scramble-label {
  color: lightgrey;
}
